body {
    background-image: linear-gradient(to top, #ff0000, #ffffff);
    min-height: 100vh;
    margin: 0;
}
#title {
  font-family: Copperplate Gothic Light;
  color: #000000;
  text-align: center;
  font-size: 200%;
}

#title::first-letter {
  color: #000000;
  font-size: 250%;
}
.gamelist {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #420000;
  font-size: 125%;
  font-weight: bold;
}
.gamelist+ul {
  font-family: Arial, sans-serif;
  color: #4b0082;
  font-size: 125%;
  font-weight: bold;
}
#maintext p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #000000;
    font-size: 125%;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
    margin: 5px 0;
}
ul{
  list-style-position: inside;
  text-align: center;
  padding-left: 0;
  font-family: 'Courier New', Courier, monospace;
  color: #000000;
  font-size: 125%;
  font-weight: bold;
}

ul::first-line {
  font-family: 'Courier New', Courier, monospace;
  color: #ff0000;
  font-size: 125%;
  font-weight: bold;
}
.navbar {
    position: fixed;
    right: 20px;        
    top: 50%;          
    transform: translateY(-50%);

    background-color: #8b8b8b;
    padding: 24px 16px;
    border-radius: 12px;

    z-index: 1000;
}
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.nav-links a {
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    text-align: center;
}
.footer p{
    position: absolute;
    bottom: 0;
    color: #ffffff;
}